<html>
<body>
<form method="post" action="/contact/addAction">
  <div class="mb-3">
    <label for="FullName" class="form-label">FullName</label>
    <input type="text" name="fullname" >
 
  </div>
  <div class="mb-3">
    <label> Phone Number</label>
    <input type="number"  name="phone">
  </div>
 
  <button type="submit" class="btn btn-primary">OK</button>
</form>
</body>
</html>